<div class="container-error-register">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">

                <div class="errorArchivo">
                    <h1>SE HA SUBIDO EL ARCHIVO</h1>
                </div>

                <div class="btn">
                    <a class="nav-link active" aria-current="page" href="/fileuser">SUBIR OTRO ARCHIVO</a>
                </div>

            </div>

        </div>
    </div>
</div>