<div class="container-cart">
   

    <div id="mostrarCart" class="cart"></div>
    <div id="ticket" class="cart"></div>
    <div id="noproduct" class="cart"></div>


</div>


<script src="/js/cart.js"></script>