<div class="container-chat">
    <form action='/api/chat/' method='post'>
        {{#if user}}
        <div class="mb-3">
            <h2>Chat</h2>

            <input type='text' class='form-control' placeholder='Email' aria-label='user' name='user'
                value='{{user.email}}' />
            <div id="emailHelp" class="form-text">chatea con los demas usuario</div>

            <input type='text' class='form-control' placeholder='ingresa un mensaje' aria-label='menssage'
                name='menssage' />
            <button type="submit" class="btn btn-primary">enviar</button>
        </div>
        {{/if}}

    </form>

    <div class='container-mensaje'>
        <div id="List-Message"></div>
    </div>
</div>



<script src='/socket.io/socket.io.js'></script>
<script src='/js/chat.js'></script>