<div class="container-error-register">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">

                <div class="error">
                    <h1>Error</h1>
                    <h2>Error de Autenticacion</h2>
            

                </div>
                <div class="btn">
                    <a class="nav-link active" aria-current="page" href="/">Crea una cuenta</a>
                <a class="nav-link active" aria-current="page" href="/login">Inicia sesión</a>
                </div>
                
            </div>

        </div>
    </div>
</div>