<div class="container-error-servidor">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body-dos">

                <div class="error">

                    <h1>Error <strong>500</strong></h1>
                    <h2> PROBLEMAS DE AUTENTIFICACIÓN </h2>
                    <div class="btn">
                       
                        <a class="nav-link active" aria-current="page" href="/login">Volver a la pagina principal</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>