<div class="container-errorpassword">
    
    <div class="error">
        <h1>No puedes usar la misma contraseña </h1>
        <h2>Vuelva enviar el email de restablecimiento</h2>
    </div>
    <div class="btn">
        <a href='/restpassword' type='submit' class='btn-2 btn btn-primary col-12'>VOLVER</a>
    </div>

</div>