<div class='container-mensaje'>

    <img class="img-error" src="https://cdn-icons-png.flaticon.com/512/6009/6009746.png" alt="error-token">
    <h2 class="token">La sesión expiró, vuelva a iniciar Sesión</h2>
    <a class="nav-link active" aria-current="page" href="/login">Vuelva a loguearse</a>

</div>