<div class="container-error-register">

    <div class="card mb-3">
        <div class="row g-0">
            <div class="card-body">
                <div class="error-envio">
                    <h1>NO SELECCIONO NINGUN ARCHIVO PARA SER ENVIADO</h1>
                </div>
                <div class="btn-archivos">
                    <div class="btn">
                        <a class="nav-link active" aria-current="page"
                            href="/fileuser">CREDENCIALES</a>
                    </div>
                    <div class="btn">
                        <a class="nav-link active" aria-current="page"
                            href="/documents">DOCUMENTS</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>