
<div class="container-login">
    <h1>Restablecer su contrase単a</h1>
    <form action='/api/users/emailreset/{{token}}' method='post' class="row g-3" id="reset-form">
        <div class="col-md-6">
            <label for="password" class="form-label">Contrase単a</label>
            <input type="password" class="form-control" name='password' id="password" autocomplete="new-password">
        </div>
        <div class="col-md-6">
            <label for="confirm-password" class="form-label">Repita contrase単a</label>
            <input type="password" class="form-control" name='confirmPassword' id="confirm-password" autocomplete="new-password">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" id="submit-button">Restablecer contrase単a</button>
        </div>
    </form>
</div>


<script src="/js/forgotpass.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>