<div class="container-login">
    <h1> INGRESA AQUI </h1>
    <form action='/api/users/auth' method='post' class="row g-3">

        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name='email' id="email" autocomplete="current-email">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name='password' id="password" autocomplete="current-password">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <a href='/restpassword' type='submit' class='btn-2 btn btn-primary col-12'>Olvide mi Contraseña</a>
            <a href='/api/users/github' type='submit' class='btn-2 btn btn-primary col-12'>Ingresar con GitHub</a>
        </div>

    </form>
</div>

