
<div>

	<h1>Live de productos</h1>

	<div id='container'>
		<h2>Lista de Productos</h2>
		<div id='List-Product'>
		</div>
	</div>

</div>


<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>

