<div class="container-register">
    <h1>Registrate aqui </h1>

    <form action='/api/users/' method='post' class="row g-3">

        <div class="col-md-6">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="Nombre" class="form-control" name='first_name' id="Nombre">
        </div>

        <div class="col-md-6">
            <label for="Apellido" class="form-label">Apellido</label>
            <input type="Apellido" class="form-control" name='last_name' id="Apellido">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name='email' id="email" autocomplete="current-email">
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name='password' id="password" autocomplete="current-password">
        </div>
        <div class="col-md-6">
            <label for="img" class="form-label">Link de tu foto de perfil</label>
            <input type="text" class="form-control" name="img">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary cartid">Sign in</button>
        </div>
    </form>
</div>

<script src="js/register.js"></script>